<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>豆瓣电影-首页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/host.js"></script>
	<script type="text/javascript" src="/static/js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="/static/js/axios-0.18.0.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
</head>
<div>
	<div id="app" v-cloak>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到豆瓣电影!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>WTT</em>

					<a href="javascript:;" class="quit">退出</a>
				</div>
				<div class="login_btn fl">
					<a href="/login">登录</a>
					<span>|</span>
					<a href="/register">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="#">个人中心</a>
					<span>|</span>
					<a href="#">我的影视收藏</a>

				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
{#		<a href="index.html" class="logo fl"><img src="images/logo.png"></a>#}
		<div class="search_wrap fl">
			<form method="get" action="/search/" class="search_con">
                <input type="text" class="input_text fl" maxlength="255" name="q" placeholder="搜索电影">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>



            <div class="search-bottom"></div>
		</div>
    </div>



    <div class="guest_cart fr">
            <a href="#" class="cart_name fl">小电影</a>
            <div class="goods_count fl" id="show_count">9</div>
            <ul class="cart_goods_show">

            </ul>
		</div>




	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">电影分类</h1>
			<ul class="navlist fl">
				<li><a href="">最新上映</a></li>
				<li class="interval">|</li>
				<li><a href="">热度</a></li>
				<li class="interval">|</li>
				<li><a href="">评分最高</a></li>
			</ul>
		</div>
	</div>

	<div class="pos_center_con clearfix">
		<ul class="slide">
			<li><a href="#"><img src="/static/images2/hdp3.png" alt="幻灯片01"></a></li>
			<li><a href="#"><img src="/static/images2/hpd2.png" alt="幻灯片02"></a></li>
			<li><a href="#"><img src="/static/images2/hdp1.png" alt="幻灯片03"></a></li>
		</ul>
		<div class="prev"></div>
		<div class="next"></div>
		<ul class="points">
		</ul>
		<ul class="sub_menu">
			<li>
				<div class="level1">
					<a href="#/">剧情</a><a href="#">喜剧</a><a href="#">动作</a><a href="#">恐怖</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影 &gt;</div>
						<div class="group_detail fl">
							<a href="#">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
						</div>
					</div>


				</div>
			</li>

			<li>
				<div class="level1">
					<a href="#">爱情</a><a href="#">惊悚</a><a href="#">迷信</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影1 &gt;</div>
						<div class="group_detail fl">
							<a href="#">6</a>
							<a href="#">7</a>
							<a href="#">8</a>
							<a href="#">9</a>
							<a href="#">10</a>
							<a href="#">11</a>
							<a href="#">12</a>
							<a href="#">13</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="level1">
					<a href="#">科学</a><a href="#">犯罪</a><a href="#">悬疑</a><a href="#">战争</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影3 &gt;</div>
						<div class="group_detail fl">
							<a href="#">14</a>
							<a href="#">15</a>
							<a href="#">16</a>
							<a href="#">17</a>
							<a href="#">18</a>
							<a href="#">19</a>
							<a href="#">20</a>
							<a href="#">21</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="level1">
					<a href="#">科幻</a><a href="#">动画</a><a href="#">家庭</a><a href="#">传记</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影4 &gt;</div>
						<div class="group_detail fl">
							<a href="#">22</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="level1">
					<a href="#">冒险</a><a href="#">奇幻</a><a href="#">武侠</a><a href="#">历史</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影5 &gt;</div>
						<div class="group_detail fl">
							<a href="#">23</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="level1">
					<a href="#">运动</a><a href="#">歌舞</a><a href="#">音乐</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影6 &gt;</div>
						<div class="group_detail fl">
							<a href="#">24</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="level1">
					<a href="#">记录</a><a href="#">伦理</a><a href="#">西部</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影7 &gt;</div>
						<div class="group_detail fl">
							<a href="#">25</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="level1">
					<a href="#">内地</a><a href="#">美国</a><a href="#">北欧</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影8 &gt;</div>
						<div class="group_detail fl">
							<a href="#">26</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="level1">
					<a href="#">欧洲</a><a href="#">日本</a><a href="#">韩国</a><a href="#">印度</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影9 &gt;</div>
						<div class="group_detail fl">
							<a href="#">27</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="level1">
					<a href="#">泰国</a><a href="#">法国</a><a href="#">德国</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影10 &gt;</div>
						<div class="group_detail fl">
							<a href="#">28</a>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="level1">
					<a href="#">加拿大</a><a href="#">西班牙</a><a href="#">意大利</a>
				</div>
				<div class="level2">
					<div class="list_group">
						<div class="group_name fl">小电影11 &gt;</div>
						<div class="group_detail fl">
							<a href="#">29</a>
						</div>
					</div>
				</div>
			</li>
		</ul>

		<div class="news">
			<div class="news_title">
				<h3>猜你会追</h3>
				<a href="#">更多 &gt;</a>
			</div>
			<ul class="news_list">
				<li><a href="#">终结者终结篇章</a></li>
				<li><a href="#">倩女幽魂新版</a></li>
				<li><a href="#">斗战苍穹抢先观看</a></li>
				<li><a href="#">圆环行动会员免费看</a></li>
				<li><a href="#">大神猴1上映啦</a></li>
				<li><a href="#">飞鱼服飞鱼来了</a></li>
				<li><a href="#">锦衣卫带刀侍卫</a></li>
			</ul>

		</div>
	</div>


	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">豆瓣电影 Top 1-90</h3>
			<div class="subtitle fr">
				<a href="javascript:;" @mouseenter="f1_tab=1" :class="f1_tab===1?'active':''">最新推荐</a>
				<a href="javascript:;" @mouseenter="f1_tab=2" :class="f1_tab===2?'active':''">经典老片</a>
				<a href="javascript:;" @mouseenter="f1_tab=3" :class="f1_tab===3?'active':''">豆瓣好评</a>
			</div>
		</div>
		<div class="goods_con clearfix">
			<div class="goods_banner fl">
				<img src="/static/images2/35.jpg">
				<div class="channel">
					<a href="#">最新</a>
					<a href="#">最热</a>
					<a href="#">评分</a>
					<a href="#">高评</a>
				</div>
				<div class="key_words">

					<a href="#">黑客帝国</a>
					<a href="#">失恋33天</a>
					<a href="#">怦然心动</a>
					<a href="#">分手大师</a>
					<a href="#">2012</a>
					<a href="#">东京物语</a>
					<a href="#">七宗罪</a>
					<a href="#">七武士</a>
					<a href="#">一次别离</a>
					<a href="#">乱世佳人</a>

				</div>
			</div>


			<div class="goods_list_con">

				<ul class="goods_list fl" v-show="f1_tab===1">
                    {% for ssxp in contents[:10] %}
					<li>

						<a href="/detail/{{ ssxp.id }}" class="goods_pic"><img src="{{ ssxp.image_file_id.url }}"></a>
						<h4><a href="#" title="{{ ssxp.name }}">{{ ssxp.name }}</a></h4>
						<div class="price">{{ ssxp.score }}</div>
					</li>
                    {% endfor %}

				</ul>




				<ul class="goods_list fl" v-show="f1_tab===2">
                    {% for ssxp in contents[11:21] %}
					<li>
						<a href="/detail/{{ ssxp.id }}" class="goods_pic"><img src="{{ ssxp.image_file_id.url }}"></a>
						<h4><a href="#" title="{{ ssxp.name }}">{{ ssxp.name }}</a></h4>
						<div class="price">{{ ssxp.score }}</div>
					</li>
                    {% endfor %}
				</ul>




				<ul class="goods_list fl" v-show="f1_tab===3">
                    {% for ssxp in contents[21:31] %}
					<li>
						<a href="/detail/{{ ssxp.id }}" class="goods_pic"><img src="{{ ssxp.image_file_id.url }}"></a>
						<h4><a href="#" title="{{ ssxp.name }}">{{ ssxp.name }}</a></h4>
						<div class="price">{{ ssxp.score }}</div>
					</li>
                    {% endfor %}
				</ul>
            </div>

        </div>
    </div>


    <div class="list_model model02">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">豆瓣电影 Top 91-181</h3>
			<div class="subtitle fr">
				<a href="javascript:;" @mouseenter="f2_tab=1" :class="f2_tab===1?'active':''">精神食粮</a>
				<a href="javascript:;" @mouseenter="f2_tab=2" :class="f2_tab===2?'active':''">加个餐吧</a>


			</div>
		</div>
		<div class="goods_con clearfix">
			<div class="goods_banner fl">
				<img src="/static/images2/150.jpg">
				<div class="channel">
					<a href="#">最新</a>
					<a href="#">最热</a>
					<a href="#">评分</a>
					<a href="#">高评</a>
				</div>
				<div class="key_words">
					<a href="#">黑客帝国</a>
					<a href="#">失恋33天</a>
					<a href="#">怦然心动</a>
					<a href="#">分手大师</a>
					<a href="#">2012</a>
					<a href="#">东京物语</a>
					<a href="#">七宗罪</a>
					<a href="#">七武士</a>
					<a href="#">一次别离</a>
					<a href="#">乱世佳人</a>
				</div>
			</div>


			<div class="goods_list_con">

				<ul class="goods_list fl" v-show="f2_tab===1">
                    {% for ssxp in contents[31:41] %}
					<li>

						<a href="/detail/{{ ssxp.id }}" class="goods_pic"><img src="{{ ssxp.image_file_id.url }}"></a>
						<h4><a href="#" title="{{ ssxp.name }}">{{ ssxp.name }}</a></h4>
						<div class="price">{{ ssxp.score }}</div>
					</li>
                    {% endfor %}
				</ul>



				<ul class="goods_list fl" v-show="f2_tab===2">
                    {% for ssxp in contents[42:52] %}
					<li>
						<a href="/detail/{{ ssxp.id }}" class="goods_pic"><img src="{{ ssxp.image_file_id.url }}"></a>
						<h4><a href="#" title="{{ ssxp.name }}">{{ ssxp.name }}</a></h4>
						<div class="price">{{ ssxp.score }}</div>
					</li>
                    {% endfor %}
				</ul>




				<ul class="goods_list fl" v-show="f2_tab===3">
                    {% for ssxp in contents[53:63] %}
					<li>
						<a href="/detail/{{ ssxp.id }}" class="goods_pic"><img src="{{ ssxp.image_file_id.url }}"></a>
						<h4><a href="#" title="{{ ssxp.name }}">{{ ssxp.name }}</a></h4>
						<div class="price">{{ ssxp.score }}</div>
					</li>
                    {% endfor %}
				</ul>
            </div>

        </div>
    </div>

    <div class="list_model model03">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">豆瓣电影 Top 182-250</h3>
			<div class="subtitle fr">
				<a href="javascript:;" @mouseenter="f3_tab=1" :class="f3_tab===1?'active':''">最新推荐</a>
				<a href="javascript:;" @mouseenter="f3_tab=2" :class="f3_tab===2?'active':''">经典老片</a>


			</div>
		</div>
		<div class="goods_con clearfix">
			<div class="goods_banner fl">
				<img src="/static/images2/250.jpg">
				<div class="channel">
					<a href="#">最新</a>
					<a href="#">最热</a>
					<a href="#">评分</a>
					<a href="#">高评</a>
				</div>
				<div class="key_words">
					<a href="#">黑客帝国</a>
					<a href="#">失恋33天</a>
					<a href="#">怦然心动</a>
					<a href="#">分手大师</a>
					<a href="#">2012</a>
					<a href="#">东京物语</a>
					<a href="#">七宗罪</a>
					<a href="#">七武士</a>
					<a href="#">一次别离</a>
					<a href="#">乱世佳人</a>
				</div>
			</div>


			<div class="goods_list_con">

				<ul class="goods_list fl" v-show="f3_tab===1">
                    {% for ssxp in contents[64:74] %}
					<li>

						<a href="/detail/{{ ssxp.id }}" class="goods_pic"><img src="{{ ssxp.image_file_id.url }}"></a>
						<h4><a href="#" title="{{ ssxp.name }}">{{ ssxp.name }}</a></h4>
						<div class="price">{{ ssxp.score }}</div>
					</li>
                    {% endfor %}
				</ul>



				<ul class="goods_list fl" v-show="f3_tab===2">
                    {% for ssxp in contents[75:85] %}
					<li>
						<a href="/detail/{{ ssxp.id }}" class="goods_pic"><img src="{{ ssxp.image_file_id.url }}"></a>
						<h4><a href="#" title="{{ ssxp.name }}">{{ ssxp.name }}</a></h4>
						<div class="price">{{ ssxp.score }}</div>
					</li>
                    {% endfor %}
				</ul>




				<ul class="goods_list fl" v-show="f3_tab===3">
                    {% for ssxp in contents[86:96] %}
					<li>
						<a href="/detail/{{ ssxp.id }}" class="goods_pic"><img src="{{ ssxp.image_file_id.url }}"></a>
						<h4><a href="#" title="{{ ssxp.name }}">{{ ssxp.name }}</a></h4>
						<div class="price">{{ ssxp.score }}</div>
					</li>
                    {% endfor %}
				</ul>
            </div>

        </div>

    </div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于豆瓣</a>
			<span>|</span>
			<a href="#">联系豆瓣</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">意见反馈</a>
		</div>
		<p>CopyRight © 2020 北京豆瓣电影股份有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
        </div>
</div>


        <script type="text/javascript" src="/static/js/slide.js"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>
        <script type="text/javascript" src="/static/js/common.js"></script>
        <script type="text/javascript" src="/static/js/dream_word.js"></script>

</body>
</html>




